.h_line2 {
  width: 40px;
  height: 2px;
  margin-left: 15px;
  background: black;
}

.skills-section {
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
}

// .skills {
//   height: 90vh;
//   width: 100%;
//   margin: 0 auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .icons {
//   width: 30%;
//   display: grid;
//   grid-template-columns: auto auto auto auto;
// }

// .items {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-right: 40px;
//   margin-bottom: 30px;
//   margin-top: 25px;
//   width: 100px;

//   p {
//     font-size: 13px;
//     font-weight: 400;
//   }
// }

// .icon {
//   height: 40px;
//   width: 40px;
//   margin-bottom: 20px;

//   &:hover {
//     cursor: pointer;
//     color: #ff5e01;
//     fill: #ff5e01;
//     transition: ease-in-out 0.15s;
//   }
// }

// // .details {
// //   display: flex;
// //   flex-direction: column;
// //   justify-content: flex-start;
// // }

// .tools-div {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap-reverse;
// }
